[target.xtensa-esp32-none-elf]
runner = "espflash flash --monitor"

rustflags = [
  "-C", "link-arg=-nostartfiles",
  "-C", "link-arg=-Tlinkall.x",
  "-C", "link-arg=-Tesp32_rom_functions.x",
]

[build]
target = "xtensa-esp32-none-elf"

[unstable]
build-std = ["alloc", "core"]
